@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gradient-to-r from-purple-950 via-green-950 to-blue-950 text-white min-h-screen;
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
